---
import { getCollection } from "astro:content";
import Content from "../components/blog-content.astro";
import Hero from "../components/hero.astro";
import DefaultLayout from "../layouts/Default.astro";
import Card from "../components/card";
import {
  getPositionColorFromPosition,
  getPositionTypeFromCategory,
} from "../utils/postUtils";
import Tag from "../components/tag";
import { motion } from "framer-motion";

const positions = await getCollection("positions");
---

<DefaultLayout>
  <Hero>
    <p
      class="uppercase font-extrabold text-center text-zinc-500 tracking-wider"
    >
      Join the team
    </p>
    <h1
      class="font-heading font-black text-5xl md:text-6xl lg:text-7xl text-center mt-4"
    >
      We are hiring
    </h1>
    <p
      class="text-center text-xl md:text-2xl mt-6 max-w-xl mx-auto text-zinc-400"
    >
      We are always looking for talented individuals passionate about building
      the future of the web. If you are interested in working with us, please
      send us an email.
    </p>
  </Hero>
  <Content>
    <div class="flex flex-col gap-12">
      {
        positions.map((position, index) => (
          <motion.a
            client:load
            href="/contact"
            initial={{ opacity: 0, y: 20 }}
            whileInView={{ opacity: 1, y: 0 }}
            viewport={{ once: true, amount: 0.5 }}
            transition={{ delay: index * 0.1, ease: "easeInOut", duration: 1 }}
          >
            <Card
              key={index}
              color={getPositionTypeFromCategory(position.data.category)}
              buttonText="Apply Now"
              className="cursor-pointer"
            >
              <div class="flex items-center gap-3">
                {position.data.remote && (
                  <Tag color={getPositionColorFromPosition(position.data.type)}>
                    {position.data.type}
                  </Tag>
                )}
              </div>
              <h2 class="text-3xl font-black font-heading mt-6">
                {position.data.title}
              </h2>
              <p class="text-xl text-zinc-400 mt-4">
                {position.data.description}
              </p>
            </Card>
          </motion.a>
        ))
      }
    </div>
  </Content>
</DefaultLayout>
